@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nova+Square&family=PT+Sans:wght@400;700&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&family=Red+Hat+Display:wght@400;600;700&family=Roboto&display=swap');

:root {
  --footer-container: 1170px;
  --footer-top-marg: 92px;
  --footer-top-pad: 100px;
  --footer-bottom-pad: 146px;
  --text-color: white;
  --bg-color: black;
}

.footer {
  position: relative;
  padding-top: var(--footer-top-pad);
  padding-bottom: var(--footer-bottom-pad);
  margin-top: var(--footer-top-marg);
  color: var(--text-color);
  background: var(--bg-color);
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}
.footer-container {
  max-width: var(--footer-container);
  margin: 0 auto;
}
.footer-top-wrapper {
  display: flex;
  column-gap: 260px;
  align-items: center;
}
.footer-middle-wrapper {
  display: flex;
  column-gap: 245px;
  align-items: center;
  margin-top: 20px;
}
.footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
}
.footer-nav-two ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.bi {
  font-size: 28px;
}
.social-icons {
  display: flex;
  column-gap: 33px;
}
.footer-description-title {
  font-weight: 700;
  font-size: 18px;
}

.footer-line {
  margin-top: 83px;
  border-bottom: 1px solid #ffffff;
}
.footer-bottom-wrapper {
  display: flex;
  align-items: center;
  color: #8d8d8d;
  margin-top: 37px;
}
.footer-bottom-middle {
  margin-left: 270px;
  margin-right: 380px;
}
.footer-top-btn {
  background: #fcc344;
  color: black;
  padding: 14px 18px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: 470px;
}
