@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nova+Square&family=PT+Sans:wght@400;700&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&family=Red+Hat+Display:wght@400;600;700&family=Roboto&display=swap');
:root {
  --header-container: 1170px;
  --header-top: 60px;
  --color-txt: black;
  --color-btn: #fcc344;
}

.header {
  max-width: var(--header-container);
  margin: 0 auto;
  margin-top: var(--header-top);
  color: var(--color-txt);
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
.header-wrapper {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.header-nav ul {
  display: flex;
  column-gap: 32px;
}
.header-button {
  background: var(--color-btn);
  border-radius: 16px;
  padding: 14px 27px 15px;
}
a {
  color: inherit;
}
